/*
Nextflow configuration file for SNPmatch.


*/
params {

  max_memory = 250.GB
  max_cpus = 24
  max_time = 48.h
  version = '2.2.0' // Pipeline version
  nf_required_version = '0.27.5' // Minimum version of nextflow required

}

process {

  executor = 'pbs'
  queue = 'short'
  clusterOptions = { "-P $params.project " }
  cpus = 1
  memory = 8.GB
  time = 3.h

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'

  module = ['snpmatch/2.2.0-foss-2017a-Python-2.7.13']
  $parse_inputfiles {
    cpus = 1
    memory = 11.GB
    time = 2.h
  }

  $identify_libraries {
    cpus = 1
    memory = 10.GB
    time = 3.h
  }

  $cross_libraries {
    cpus = 1
    memory = 10.GB
    time = 8.h
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']
/*
timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/snpmatch_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/snpmatch_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/snpmatch_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/snpmatch_dag.svg"
}
*/
