/*
Nextflow configuration file for SNPmatch on GMI Mendel

please edit config file if you want to implement to another cluster

*/
params {
  version = '3.0.0' // Pipeline version
  nf_required_version = '19.04.0' // Minimum version of nextflow required
}

singularity {
    enabled = true
    cacheDir = "$HOME/.singularity"
}

profiles {
  cbe {
    includeConfig 'conf/cbe.config'
  }
  mendel {
    includeConfig 'conf/mendel.config'
  }
  local { process.executor = 'local' }
}

process {

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'

  container = 'nordborglab/snpmatch:latest'
  cpus = 1
  memory = 10.GB
  time = 6.h

  withLabel: env_rcsv {
    container = '' // had to remove container otherwise it supercedes module
    module = 'r/3.5.1-foss-2018b'
  }
}


/*
// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']
timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/snpmatch_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/snpmatch_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/snpmatch_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/snpmatch_dag.svg"
}
*/
