/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with CLIP
 * ----------------------------------------------------------------------------
*/

process {
  executor = 'slurm'
  // clusterOptions = { "-P $params.project " }
}

executor {
  $slurm {
    name = 'cbe'
    queueSize = 1600
  }
}

params {
  max_memory = 180.GB
  max_cpus = 12
  max_time = 24.h
}
